/*head*/
@media screen and (min-width:1280px){
    .container {
        width: 1280px;
    }   
   }
@media screen and (max-width:991px){
    /*head*/
    .row-back{
        margin-left: 0;
    }
    .row-back span{
        text-align: center;
    }
    .row-back .a-box{
        float: left;
        width: 25%;
        background-color: rgb(34, 29, 85);
    }
    .row-back .search-box{
        float: right;
    }
    /*mid*/
    .mid-box0 h3{
        font-size: 15px;
    }
    .mid-right-box{
        margin-left: 15px;
    }
    .mid-label0{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .mid-label{
        border: 1px solid lightblue;
        border-radius: 2px;
        height: 30px;
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .mid-label1{
        border-left: 1px solid lightblue;
        height: 30px;
        width: 100%;
        padding: 0;
    }
    
    /*foot*/
    .row-back1{
        margin-left: 0;
    }
    .row-back1 h5{
        text-align: center;
        margin-top: 30px;
        color: white;
    }
    .row-back1 p{
        text-align: center;
        color: white;
        font-size: 10px;
    }
}
.row:nth-child(1) span{
    display: block;
    height: 50px;
    line-height: 50px;
    color: white;
    font-size: 30px;
    text-align: center;
}
.a-a{
    display: block;
    line-height: 40px;
    color: white;
    font-size: 13px;
    text-align: center;
}
.a-box{
    position: relative;
    height: 50px;
}
.a-box1{
    display: block;
    position: absolute;
    background-color: black;
    height: 36px;
    width: 60px;
    margin-top: 7px;
}
.search-box{
    display: block;
    width: 200px;
    height: 30px;
    border: 1px solid black;
    border-radius: 2px;
    background-color: white;
    margin: 0 auto;
    padding: 0;
    margin-top: 10px;
}
.search{
    height: 100%;
    width: 180px;
    border: 0;
    border-radius: 2px;
    padding: 0;
    margin: 0;
    outline: none;
    float: left;
    font-size: 14px;
}
.search-logo{
    font-size: 16px;
    padding-top: 5px;
}    
.row-back{
    height: 50px;
    width: 100%;
    background-color: rgb(34, 29, 85);
}
.row-back1{
    height: 150px;
    width: 100%;
    background-color: rgb(34, 29, 85);
}

/*mid*/
.mid-box0{
    margin-top: 25px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-left: 0;
}
.mid-box{
    margin-bottom: 25px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.mid-art{
    border-top: 1px solid #ccc;
    margin-bottom: 10px;
}
.art a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.pic img{
    width: 100%;
    height: 100%;
}
.pic{
    margin-top: 10px;
}
.art h4{
    color: black;
}
.art p{
    color: #cccccc;
    width: 90%;
    overflow: hidden;
    font-size: 12px;
}

.mid-label0{
    margin-top: 5px;
    margin-bottom: 5px;
}
.mid-label{
    border: 1px solid lightblue;
    border-radius: 2px;
    height: 30px;
    padding: 0;
}
.mid-label1{
    border-left: 1px solid lightblue;
    border-radius: 2px;
    height: 30px;
    padding: 0;
}



/*foot*/
.QR{
    height: 80px;
    width: 80px;
    margin-left: 35%;
    margin-top: 35px;
}
.QR img{
    height: 100%;
    width: 100%;
}
.row-back1 h5{
    text-align: center;
    margin-top: 20px;
    color: white;
}
.row-back1 p{
    text-align: center;
    color: white;
}

