/*head*/
@media screen and (min-width:1280px){
    .container {
        width: 1280px;
        
    }   
   }
@media screen and (max-width:991px){
    /*head*/
    .row-back{
        margin-left: 0;
    }
    .row-back span{
        text-align: center;
    }
    .row-back .a-box{
        float: left;
        width: 25%;
        background-color: rgb(34, 29, 85);
    }
    .row-back .search-box{
        float: right;
    }
    /*mid*/
    .mid-right-box{
        margin-left: 15px;
    }
    /*foot*/
    .row-back1{
        margin-left: 0;
    }
    .row-back1 h5{
        text-align: center;
        margin-top: 30px;
        color: white;
    }
    .row-back1 p{
        text-align: center;
        color: white;
        font-size: 10px;
    }
}
.row:nth-child(1) span{
    display: block;
    height: 50px;
    line-height: 50px;
    color: white;
    font-size: 30px;
    text-align: center;
}
.a-a{
    display: block;
    line-height: 40px;
    color: white;
    font-size: 13px;
    text-align: center;
}
.a-box{
    position: relative;
    height: 50px;
}
.a-box1{
    display: block;
    position: absolute;
    background-color: black;
    height: 36px;
    width: 60px;
    margin-top: 7px;
}
.search-box{
    display: block;
    width: 200px;
    height: 30px;
    border: 1px solid black;
    border-radius: 2px;
    background-color: white;
    margin: 0 auto;
    padding: 0;
    margin-top: 10px;
}
.search{
    height: 100%;
    width: 180px;
    border: 0;
    border-radius: 2px;
    padding: 0;
    margin: 0;
    outline: none;
    float: left;
    font-size: 14px;
}
.search-logo{
    font-size: 16px;
    padding-top: 5px;
}    
.row-back{
    height: 50px;
    width: 100%;
    background-color: rgb(34, 29, 85);
}
.row-back1{
    height: 150px;
    width: 100%;
    background-color: rgb(34, 29, 85);
}

/*mid*/
.mid-box{
    margin-top: 25px;
    margin-bottom: 100px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 80%;
}
.mid-art{
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}
.mid-box-img img{
    height: 36px;
    width: 36px;
    border-radius: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.mid-box-name p{
    font-size: 15px;
    color: black;
    margin-top: 13px
}
.mid-box-time p{
    font-size: 15px;
    color: #ccc;
    margin-top: 13px
}
.mid-box1-img{
    height: 360px;
    width: 500px;
    margin: 0 auto;
}
.mid-box1-img img{
    height: 100%;
}
.mid-article{
    width: 900px;
    margin: 0 auto;
}
.mid-article h3{
    text-align: center;
}
.mid-article p{
    width: 900px;
    overflow: hidden;
    word-wrap:break-word;
    word-break:break-all;
}
.butt-box1{
    margin-top: 15px;
    margin-left: 1000px;
}
.butt1{
    width: 80px;
    height: 30px;
    background-color: white;
    border: 2px solid red;
    border-radius: 5px;
    outline: none;
}
.butt-box2{
    margin-top: 15px;
    margin-bottom: 25px;
}
.butt2{
    width: 80px;
    height: 30px;
    background-color: white;
    border: 2px solid lightblue;
    border-radius: 5px;
    outline: none;
}
.butt-box3{
    margin-top: 15px;
    margin-bottom: 40px;
    text-align: center;
}
.butt3{
    width: 80px;
    height: 40px;
    background-color: white;
    border: 2px solid red;
    border-radius: 20px;
    outline: none;
}
.mid-contact{
    width: 900px;
    margin: 0 auto; 
    font-size: 10px;
    color: lightblue;
}
.mid-contact img{
    width: 100%;
}
.mid-comment-box{
    width: 900px;
    height: 500px;
    margin: 0 auto;
}
.mid-input{
    margin-top: 15px;
    margin-bottom: 50px;
    height: 30px;
    width: 150px;
    border: 1px solid black;
    border-radius: 4px;
    outline: none;
}
.mid-button{
    height: 30px;
    width: 80px;
    background-color: lightblue;
    color: white;
    outline: none;
    border: 2px solid lightblue;
    border-radius: 4px;
}
/*foot*/
.QR{
    height: 80px;
    width: 80px;
    margin-left: 35%;
    margin-top: 35px;
}
.QR img{
    height: 100%;
    width: 100%;
}
.row-back1 h5{
    text-align: center;
    margin-top: 20px;
    color: white;
}
.row-back1 p{
    text-align: center;
    color: white;
}